.custom-bg-blue-900 {
    background-color: #001f3f;
    /* Replace with your desired color code */
    /* You can adjust the color code to match the dark blue shade you want */
    color: #ffffff;
    /* Set text color to white, or adjust as needed */
}

.custom-bg-orange {
    background-color: #ffA500;
    /* Replace with the desired shade of orange */
    color: #ffffff;
    /* Set text color to white, or adjust as needed */
}

/* Custom CSS for a yellow-300 background */
.custom-bg-yellow-300 {
    background-color: #ffeeba;
    /* Replace with the desired shade of yellow */
    color: #000000;
    /* Set text color to black, or adjust as needed */
}