{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <title>Password Reset</title>
    <style>
        h5{
            color: red;
        }
    </style>
</head>

<body>

    <div class="container" style="justify-items: left;">
        <div style="padding: 30px;">
                <a href="\">
                    <img src="{% static '\img\icon-deal.png' %}" height="70" width="300"><br>
                </a>
                
                <h1>Password reset sent</h1><br>
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
    </div>

    <script src="{% static 'login\script.js' %}"></script>
</body>

</html>
