{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <title>Password Reset</title>
    <style>
        h5{
            color: red;
        }
    </style>
</head>

<body>

    <div class="container">
        <div style="padding: 30px;">
            
                <a href="\">
                    <img src="{% static '\img\icon-deal.png' %}" height="70" width="300" style="display: block; margin-left: auto; margin-right: auto;" >
                </a>
                <br>
                <h1>Password Reset</h1><br>
                <div>
                    {% for message in messages %}
                        <h5>{{message}}</h5>
                    {% endfor %}
                </div>
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                <form class="form" method="post" style="display: inline-block;">
                    {% csrf_token %}
                    {{form.as_p}}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="{% static 'login\script.js' %}"></script>
</body>

</html>
