{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
   
</head>

<body>

    <div class="container" style="justify-items: left;">
        <div style="padding: 30px;">
                <a href="\">
                    <img src="{% static '\img\icon-deal.png' %}" height="70" width="300"><br>
                </a>
                
                <h1>Password reset complete</h1><br>
                <p>Your password has been set. You go ahead and log in now.</p>
                <br>
                <a href="/login" style="color: #007056;">Login</a>
        </div>
    </div>

    <script src="{% static 'login\script.js' %}"></script>
</body>

</html>
